:root {
  --color-red: #ff5252;
  --color-green: #02ca91;
  --color-white: #fff;
  --color-blue-gray: #eceff1;
  --color-light-gray: #f5f5f5;
  --color-medium-gray: #e0e0e0;
  --color-gray: #bdbdbd;
  --color-dark-gray: #616161;
  --color-black: #333;
  --corner-radius: 3px;
  --duration: 0.15s;
  --elevation: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  --font-roboto: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --letter-spacing: 0.25px;
  --size-1: 0.0625rem;
  --size-4: 0.25rem;
  --size-7: 0.4375rem;
  --size-8: 0.5rem;
  --size-12: 0.75rem;
  --size-14: 0.875rem;
  --size-16: 1rem;
  --size-20: 1.25rem;
  --size-24: 1.5rem;
  --size-28: 1.75rem;
  --size-32: 2rem;
  --size-40: 2.5rem;
  --size-128: 8rem;
  --size-140: 8.75rem;
  --size-320: 20rem;
  --weight-regular: 400;
  --weight-bold: 500;
}

html {
  box-sizing: border-box;
  text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--color-blue-gray);
  color: var(--color-black);
  display: flex;
  flex-direction: column;
  font-family: var(--font-roboto);
  font-size: var(--size-14);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: var(--size-20);
  margin: 0;
  min-height: 100vh;
}

p {
  margin-bottom: 0;
  margin-top: 0;
}

a {
  border-bottom: var(--size-1) solid transparent;
  color: var(--color-green);
  cursor: pointer;
  text-decoration: none;
  transition: border-bottom-color var(--duration), color var(--duration);
}

a:hover,
a:focus {
  border-bottom-color: currentColor;
  color: var(--color-green);
}

label {
  display: block;
  font-weight: var(--weight-bold);
  letter-spacing: var(--letter-spacing);
  padding-bottom: var(--size-8);
}

input {
  border: var(--size-1) solid var(--color-medium-gray);
  border-radius: var(--corner-radius);
  color: var(--color-black);
  display: block;
  font-family: var(--font-roboto);
  font-size: var(--size-14);
  line-height: var(--size-20);
  margin: 0;
  padding: var(--size-7) var(--size-16);
  transition: border-color var(--duration);
  width: 100%;
}

input:hover,
input:focus {
  border-color: var(--color-gray);
}

input:-moz-focusring {
  outline: var(--size-1) dotted ButtonText;
}

input::placeholder {
  color: var(--color-dark-gray);
}

input[readonly] {
  background-color: var(--color-light-gray);
  border-color: var(--color-light-gray);
  cursor: default;
}

button {
  appearance: button;
  background: none;
  background-color: var(--color-green);
  border: none;
  border-radius: var(--corner-radius);
  box-shadow: var(--elevation);
  color: var(--color-white);
  cursor: pointer;
  font-family: var(--font-roboto);
  font-size: var(--size-14);
  font-weight: var(--weight-bold);
  letter-spacing: var(--letter-spacing);
  line-height: var(--size-20);
  margin: 0;
  padding: var(--size-8) var(--size-16);
  transition: opacity var(--duration);
}

button:hover,
button:focus {
  opacity: 0.64;
}

button:-moz-focusring {
  outline: var(--size-1) dotted ButtonText;
}

button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

strong {
  font-weight: var(--weight-bold);
  letter-spacing: var(--letter-spacing);
}

.svgs {
  display: none;
}

.logo {
  height: var(--size-40);
  width: var(--size-140);
}

.icon {
  height: var(--size-20);
  width: var(--size-20);
}

.page-heading {
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: var(--size-32);
  padding-top: var(--size-32);
  text-align: center;
}

.content {
  flex: 1;
}

.banner {
  align-items: center;
  background-color: var(--color-black);
  border-radius: var(--corner-radius);
  box-shadow: var(--elevation);
  color: var(--color-white);
  display: flex;
  margin-bottom: var(--size-16);
  margin-left: auto;
  margin-right: auto;
  max-width: var(--size-320);
  padding: var(--size-8) var(--size-16);
  width: 100%;
}

.banner .icon {
  flex-shrink: 0;
  margin-right: var(--size-16);
}

.form {
  background-color: var(--color-white);
  border-radius: var(--corner-radius);
  box-shadow: var(--elevation);
  margin-left: auto;
  margin-right: auto;
  max-width: var(--size-320);
  width: 100%;
}

.form-heading {
  font-size: var(--size-20);
  font-weight: var(--weight-regular);
  line-height: var(--size-28);
  margin-bottom: 0;
  margin-top: 0;
  padding: var(--size-16) var(--size-24);
}

.csrf {
  padding-top: var(--size-20);
}

.form-heading + .csrf {
  padding-top: 0;
}

.field {
  padding-left: var(--size-24);
  padding-right: var(--size-24);
}

.field + .field {
  padding-top: var(--size-16);
}

.invalid,
.invalid:hover,
.invalid:focus {
  border-color: var(--color-red);
}

.error {
  color: var(--color-red);
  font-size: var(--size-12);
  line-height: var(--size-16);
  padding-top: var(--size-4);
}

.error:empty {
  padding-top: 0;
}

.actions {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: var(--size-24) var(--size-24) var(--size-16);
}

.callout {
  color: var(--color-dark-gray);
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: var(--size-32);
  padding-top: var(--size-32);
  text-align: center;
}

.banner + .callout {
  padding-top: var(--size-16);
}

.resources {
  color: var(--color-dark-gray);
  list-style-type: none;
  padding-bottom: var(--size-32);
  padding-left: 0;
  padding-top: var(--size-128);
  text-align: center;
}

.resources li {
  display: inline-block;
}

.resources li:not(:last-of-type) {
  padding-right: var(--size-16);
}

.resources a {
  color: inherit;
}

.resources a:hover,
.resources a:focus {
  color: var(--color-green);
}
